<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
	layout:decorate="~{Order_template}">


<div layout:fragment="content">
<meta http-equiv="Content-Type" content="text/html; charset=utf8"\>

<h3 style="text-align: center;">Вы успешно сделали заказ! </h3>
<h3 style="text-align: center;"> Наш специалист свяжется с Вами в ближайшее время!</h3>	


<a th:href="@{'/'}" ><p style="text-align: center; font-size:x-large; margin-top: 30px;">Перейти в магазин</p></a>

</div>


</html>
