<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Order_template}">

<head>

    <title>Доставка</title>
    
</head>


<div layout:fragment="content">
<form id="order" action="#" th:object="${order}" th:action="${flowExecutionUrl}" method="post" >
 <meta http-equiv="Content-Type" content="text/html; charset=utf8"\> 
           <div class="col-md-offset-3 form-horizontal">      
           <label style="color:red" th:if="${#fields.hasErrors('deliver')}" th:errors="*{deliver}" class="help-inline"></label>     
					<div class="row" style="margin-bottom: 50px;">
								<div class="col-md-8 ">
								  	 <input type="radio" id="deliver1" th:field="*{deliver}" value="1"  /><label for="deliver1">Самовывоз</label>
								  	 <p>Самовывоз со склада интернет-магазина в г. Санкт-Петербург</p>
								</div>
								<div class="col-md-4 ">
								  	 <span style="color:red">бесплатно</span>
								</div>
				    </div>
						
					<div class="row" style="margin-bottom: 50px;">
								<div class="col-md-8 ">
								  	 <input type="radio" id="deliver2" th:field="*{deliver}" value="2" /><label for="deliver2">Курьер</label>
								  	 <p>Доставка курьером осуществляется по Санкт-Петербургу в пределах КАД. </p>
								</div>
								<div class="col-md-4 ">
								  	 <span style="color:red">350 руб.</span>
								</div>
				    </div>
				    
				    <div class="row" style="margin-bottom: 50px;">
								<div class="col-md-8 ">
								  	 <input type="radio" id="deliver3" th:field="*{deliver}" value="3" /><label for="deliver3">Срочный курьер </label>
								  	 <p>Срочная доставка курьером в течении 5 часов. Срочная доставка осуществляется, 
								  	    если заказ был оформлен с 00 до 13 часов, сумма заказа была не менее 1100 руб. 
								  	    и вес заказа составляет не более 5 кг. Доставка осуществляется в пределах КАД.</p>
								</div>
								<div class="col-md-4 ">
								  	 <span style="color:red">2000 руб.</span>
								</div>
				    </div>
		    

	                <div>
	                    <p>
	                    <button type="submit" id="cancel" name="_eventId_cancel">В магазин</button> 
	                    <button type="submit" id="revise" name="_eventId_revise" >Назад</button> 
						<button type="submit" id="proceed" name="_eventId_proceed">Далее</button>
	 
	                    </p>
	                    
	                </div>
             </div>
</form>

</body>
</div>

					

</html>
